{{!-- using Cat app code handlebars skeleton --}}
<h1>Burgers App! (Shake Shack is supreme)</h1>

<h2>Lets devour some burgers</h2>
{{!-- devoured UL --}}
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured</h2>

{{!-- not devoured yet UL --}}
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

{{!-- add a burger form --}}
<h2>Add a new Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
{{!-- the two values for DEVOURED 1=true 0=false --}}
  <div class="form-group">
    <label for="devoured">Devoured</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Fresh off the grill!
  </div>
{{!-- submit button for form information --}}
  <button type="submit">DEVOUR IT!</button>
</form>
